{% extends 'layout.html'%}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content%}
<a class="btn btn-default pull-left" href="/favorita/config_route/0/" >Go Back</a>
<h3 class="pull-right text-center">{{title}}</h3>
<form method="POST" class="form" name="result_form">
  {% csrf_token %}
  {% bootstrap_form form %}
 </form>
  <div id="map"></div>
   <script>
    let map;
    let markers = [];
    let coordinates = {{json_coordinates|safe}};
    let items = {{json_items|safe}};
    let distances = {{json_distances|safe}};
    let drivers = {{json_drivers|safe}};
    
    console.log(distances);
    
    function initMap() {
      var uluru = {lat: -1.2571434, lng: -78.6566384};
      map = new google.maps.Map(
          document.getElementById('map'), {zoom: 7, center: uluru});
      // alert(route);
    }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
    </script>
{%endblock%}